<?xml version="1.0"?>
<!--
 Copyright (C) [2020] Futurewei Technologies, Inc.

 FORCE-RISCV is licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER
 EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR
 FIT FOR A PARTICULAR PURPOSE.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<config>
  <simulator_options>
    <option name="plugins_options" default_value="master_option1,plugin_name.option5,apples=24" description="Plugins options which will be applied to all plugins except those with plugin name prefixes."/>
  </simulator_options>
  <plugins>
    <plugin name="plugins/bin/RegDependsChecker.so" file="plugins/bin/RegDependsChecker.so" plugins_options="option1,option2=string,option3=100,dep_depth=30,string_example=a_string" description="Counts instruction operand register dependencies"/>

    <plugin name="plugins/bin/RegDepCounter.so" file="plugins/bin/RegDepCounter.so" plugins_options="option1,option2=string,option3=100,dep_depth=30,string_example=a_string" description="Counts instruction operand register dependencies"/>

  </plugins>
</config>
