<?xml version="1.0"?>
<!--
 Copyright (C) [2020] Futurewei Technologies, Inc.

 FORCE-RISCV is licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER
 EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR
 FIT FOR A PARTICULAR PURPOSE.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<config>
  <simulator_options>
    <option name="max_insts" default_value="-1" description="Number of instructions to run til exiting simulator"/>
    <option name="railhouse" default_value="" description="Write RAILHOUSE trace to this file name"/>
    <option name="decoding" default_value="0" description="Print instruction decoding during execution"/>
    <option name="core_num" default_value="4" description="set core numbers"/>
    <option name="cluster_num" default_value="1" description="set cluster numbers"/>
    <option name="threads_per_cpu" default_value="1" description="set num threads per cpu"/>
    <option name="pa_size" default_value="48" description="defualt pa size is 48 bits"/>
    <option name="vlen" default_value="512" description="vector register length in bits"/>
    <option name="elen" default_value="64" description="maximum vector element width in bits"/>
    <option name="exit_loop" default_value="1" description="exit when an instruction jumps to itself"/>
  </simulator_options>
  <simulator_shared_object file="../utils/handcar/handcar_cosim.so"/>
  <simulator_config_string value="--isa=RV64IMAFDCV_zfh"/>
  <plugins>
  </plugins>
</config>
