*.pyc
*.so
*.sw*
.idea/
__pycache__/
bin/friscv
fpix/bin/fpix_riscv
fpix/riscv/inc/usage.h
handcar/patcher/originals/
handcar/patcher/patched/
handcar/so_build/cosim/src/
handcar/spike_mod/
handcar/src/
handcar/standalone/
make_area/
output/
