<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (C) [2020] Futurewei Technologies, Inc.

 FORCE-RISCV is licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER
 EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR
 FIT FOR A PARTICULAR PURPOSE.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<config_file>
  <limits>
    <limit name="ThreadsLimit" value="4"/>
    <limit name="CoresLimit" value="4"/>
    <limit name="ChipsLimit" value="32"/>
    <limit name="PhysicalAddressLimit" value="0xffffffffffff"/>
    <limit name="MaxInstructions" value="100000"/>
    <limit name="DependencyHistoryLimit" value="32"/>
    <limit name="BranchNotTakenLimit" value = "3"/>
    <limit name="SpeculativeBntLevelLimit" value = "3"/>
    <limit name="SpeculativeBntInstructionLimit" value = "128"/>
    <limit name="MaxPhysicalVectorLen" value = "512"/>
    <limit name="MaxVectorElementWidth" value = "64"/>
  </limits>
  <instruction_files>
    <instruction_file file="riscv/arch_data/instr/g_instructions.xml"/>
    <instruction_file file="riscv/arch_data/instr/g_instructions_rv64.xml"/>
    <instruction_file file="riscv/arch_data/instr/c_instructions.xml"/>
    <instruction_file file="riscv/arch_data/instr/c_instructions_rv64.xml"/>
    <instruction_file file="riscv/arch_data/instr/v_instructions.xml"/>
    <instruction_file file="riscv/arch_data/instr/priv_instructions.xml"/>
    <instruction_file file="riscv/arch_data/instr/zfh_instructions.xml"/>
    <instruction_file file="riscv/arch_data/instr/zfh_instructions_rv64.xml"/>
  </instruction_files>
  <default_classes>
    <default_class category="instruction" class="Instruction"/>
    <default_class category="operand" type="Constant" class="ConstantOperand"/>
    <default_class category="operand" type="Immediate" class="ImmediateOperand"/>
    <default_class category="operand" type="Choices" class="ChoicesOperand"/>
    <default_class category="operand" type="Register" class="RegisterOperand"/>
    <default_class category="operand" type="GPR" class="RegisterOperand"/>
    <default_class category="operand" type="FPR" class="FpRegisterOperand"/>
    <default_class category="operand" type="SysReg" class="RegisterOperand"/>
    <default_class category="operand" type="Branch" class="BranchOperand"/>
    <default_class category="operand" type="LoadStore" class="BaseOffsetLoadStoreOperand"/>
    <default_class category="operand" type="SystemOp" class="SystemOpOperand"/>
    <default_class category="operand" type="ALU" class="AluImmediateOperand"/>
    <default_class category="operand" type="DataProcessing" class="DataProcessingOperand"/>
    <default_class category="operand" type="SIMDVR" class="VectorRegisterOperand"/>
    <!-- The below ones are not applicable but keep them here for now. -->
    <default_class category="operand" type="GPRSP" class="RegisterOperand"/>
    <default_class category="operand" type="SIMDSR" class="RegisterOperand"/>
    <default_class category="operand" type="AuthBranch" class="AuthBranchOperand"/>
    <default_class category="operand" type="AuthLoadStore" class="AuthLoadStoreOperand"/>
    <default_class category="operand" type="PREDREG" class="RegisterOperand"/>
    <!-- The above ones are not applicable but keep them here for now. -->
    <default_class category="operand" type="VECREG" class="MultiVectorRegisterOperandRISCV"/>
    <default_class category="operand" type="VectorLayout" class="VtypeLayoutOperand"/>
    <default_class category="pte" class="Page"/>
    <default_class category="pte_attribute" class="PteAttribute"/>
    <default_class category="register" class="Register"/>
    <default_class category="physical_register" class="PhysicalRegister"/>
    <default_class category="register_file" class="RegisterFile"/>
    <default_class category="register_field" class="RegisterField"/>
    <default_class category="bit_field" class="BitField"/>
  </default_classes>
  <register_files>
    <register_file file="riscv/arch_data/reg/app_registers.xml"/>
    <register_file file="riscv/arch_data/reg/system_registers.xml"/>
  </register_files>
  <choices_files>
    <choices_file file="riscv/arch_data/general/dependence_choices.xml"/>
    <choices_file file="riscv/arch_data/general/operand_choices.xml"/>
    <choices_file file="riscv/arch_data/general/general_choices.xml"/>
    <choices_file file="riscv/arch_data/reg/register_field_choices.xml"/>
    <choices_file file="riscv/arch_data/reg/system_register_choices.xml"/>
    <choices_file file="riscv/arch_data/paging/paging_choices.xml"/>
  </choices_files>
  <paging_files>
    <paging_file file="riscv/arch_data/paging/page_tables.xml"/>
  </paging_files>
  <variable_files>
    <variable_file file="riscv/arch_data/general/variables.xml"/>
  </variable_files>
  <memory_file file="py/riscv/memory.py"/>
  <simulator_api_module file="bin/SimApiHANDCAR.so"/>
  <bnt_file file="py/riscv/DefaultBntSequence.py"/>
  <simulator_shared_object file="utils/handcar/handcar_cosim.so"/>
  <simulator_config_string value="--isa=RV64IMAFDCV_zfh"/>
  <simulator_standalone file="fpix/bin/fpix_riscv"/>
</config_file>
